<div id="<%= dom_id question %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Questionnaire:</strong>
    <%= question.questionnaire.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= question.name %>
  </p>

  <% if question.gdrive_video_source? %>
    <iframe src="<%= question.source_url %>" width="640" height="480" allow="autoplay"> </iframe>
  <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Required:</strong>
    <%= question.required %>
  </p>

  <% unless question.long_answer? %>
    <p class="my-5">
      <ul>
        <% question.answers.each do |answer| %>
          <% if answer.correct %>
            <li>
              <%= answer.name %>
              <span class="icon has-text-success">
                <i class="fas fa-check-square"></i>
              </span>
            </li>
          <% else %>
            <li>
              <%= answer.name %>
              <span class="icon has-text-danger">
                <i class="fas fa-check-square"></i>
              </span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </p>
  <% end %>

  <% if action_name != "show" %>
    <%= link_to "Show this question", questionnaire_question_path(@questionnaire, question), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this question', edit_questionnaire_question_path(@questionnaire, question), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
